<div class="container" *ngIf="!showDetails">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="card card-info">
      <div class="card-header deep-blue lighten-1 Blue-text">
        <div class="card-title">Sign In</div>
      </div>
      <div style="padding-top:30px" class="card-body">

        <form id="loginform" class="form-horizontal" [formGroup]='form' (ngSubmit)='onSubmit(form)'>

          <div class="input-group mb-3" style="margin-bottom: 25px">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon">
                <i class="fa fa-user fa-lg"></i>
              </span>
            </div>
            <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="basic-addon" formControlName='username'
              required>
          </div>

          <div id="login-alert" class="alert alert-danger col-sm-12 small" *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
            username is required
          </div>

          <div class="input-group mb-3" style="margin-bottom: 25px">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon">
                <i class="fa fa-lock fa-lg"></i>
              </span>
            </div>
            <input type="password" name='password' class="form-control" name="username" placeholder="Password" aria-describedby="basic-addon"
              formControlName='password' required>
          </div>
          <div id="login-alert" class="alert alert-danger col-sm-12 small" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
            password is required
          </div>
          <div style="margin-top:15px" class="input-group">
            <!-- Button -->
            <div class="col-sm-16 controls">
              <button class='btn btn-success' type='submit' [disabled]='form.invalid'>Login</button>
              <button id="btn-fblogin" class="btn btn-primary">Reset</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
